@model aspnet02_boardapp.Models.LoginModel
@{
    ViewData["Title"] = "로그인";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <img class="mb-"

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" typeof="password" class="form-control" placeholer="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="RememberMe">
                        <input type="checkbox" asp-for="RememberMe" /> 
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
        </div>
    </div>
</div>